@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
        /*@import */

        * {
            font-family: 'ABeeZee', sans-serif;
        }

        body {
            color: hsl(92, 40%, 20%);
            background: hsl(92, 29%, 80%);
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        nav {
            flex-direction: row;
            margin: 2em;
            border-top: 1px solid hsl(92, 40%, 20%);
            border-bottom: 1px solid hsl(92, 40%, 20%);
        }

        a,
        a:visited {
            color: hsl(92, 40%, 20%);
            text-decoration: none;
            font-variant: small-caps;
            padding: 2em;
            border-collapse: collapse;
        }

        a:hover {
            text-decoration: underline overline double 2px #FFE17E;
        }

        h1 {
            font-size: xxx-large;
            font-family: "Fira Sans";
            src: url('./Fira Code.ttf');
        }

        h3 {
            padding: 3vh 0vw 2vh 0vw;
            border-bottom: 1px solid hsl(92, 40%, 20%);
        }

        p {
            width: 40%;
            padding: 1em;
            background-color: hsl(92, 29%, 90%);
            line-height: 150%;
        }

        p.person {
            flex-direction: row;
            /* align-content: space-between; */
        }
